{$DOMAIN} {
  encode gzip
  handle /api/* { reverse_proxy backend:4000 }
  handle /connected-accounts/* { reverse_proxy backend:4000 }
  handle /auth/* { reverse_proxy backend:4000 }
  handle /files/* { reverse_proxy backend:4000 }
  handle /uploads/* { reverse_proxy backend:4000 }
  handle { reverse_proxy frontend:80 }
}
